progress=true
init-author-email=andrey@okonet.dev
init-author-name=Andrey Okonetchnikov
init-license=MIT
init-version=0.0.0-development
//registry.npmjs.org/:_authToken=b55360cb-ab49-47d1-92ba-f1f6aa2985c8
loglevel=warn
